# Import libraries

In [3]:
import numpy as np
import pandas as pd

import os
print(os.listdir("../input"))

['yoochoose-data']

# Load training datasets

In [4]:
# Load Datasets
clicks_df=pd.read_csv('../input/yoochoose-data/yoochoose-clicks.dat',
                      names=['session_id','timestamp','item_id','category'],
                      dtype={'category': str})
display("Clicks Data",)
display(clicks_df.head())

buys_df = pd.read_csv('../input/yoochoose-data/yoochoose-buys.dat', names=['session_id', 'timestamp', 'item_id', 'price', 'quantity'])
display("Buys Data",)
display(buys_df.head())

'Clicks Data'

   session_id                 timestamp    item_id category
0           1  2014-04-07T10:51:09.277Z  214536502        0
1           1  2014-04-07T10:54:09.868Z  214536500        0
2           1  2014-04-07T10:54:46.998Z  214536506        0
3           1  2014-04-07T10:57:00.306Z  214577561        0
4           2  2014-04-07T13:56:37.614Z  214662742        0

'Buys Data'

   session_id                 timestamp    item_id  price  quantity
0      420374  2014-04-06T18:44:58.314Z  214537888  12462         1
1      420374  2014-04-06T18:44:58.325Z  214537850  10471         1
2      281626  2014-04-06T09:40:13.032Z  214535653   1883         1
3      420368  2014-04-04T06:13:28.848Z  214530572   6073         1
4      420368  2014-04-04T06:13:28.858Z  214835025   2617         1

# Understanding category column

In [ ]:
# Category â€“ the context of the click. 
# The value "S" indicates a special offer,
# "0" indicates  a missing value, 
# a number between 1 to 12 indicates a real category identifier,
# any other number indicates a brand.
#   - if an item has been clicked in the context of a special offer then the value will be "S", 
#   - if the context was a brand 
#              eg. BOSCH, then the value will be an 8-10 digits number.
#   - If the item has been clicked under regular category, 
#              eg. sport, then the value will be a number between 1 to 12.

## Inpect missing values

In [13]:
# Clicks data has some missing values for category
# clicks_df[clicks_df.category==0].head()
print("Number of items with missing category info:", 
      len(np.unique(clicks_df[clicks_df.category=="0"].item_id)))

# Buys data has some missing values for price AND quantity
# buys_df[buys_df.price==0].head()
print("Number of missing price and qty entries in buys data:", 
      len(buys_df[buys_df.price==0]), len(buys_df[buys_df.quantity==0]))

Number of missing price and qty entries in buys data: 610030 610030

44042

# Some important numbers

In [28]:
print("The training dataset has", len(clicks_df), "clicks", 
      "from", len(np.unique(clicks_df.session_id)), "sessions")
print("There are ",len(buys_df), "purchases", 
      "from", len(np.unique(buys_df.session_id)), "sessions\n",
      "involving", len(np.unique(buys_df.item_id)), "unique items",
      "out of", len(np.unique(clicks_df.item_id)), "items in the whole training set.")

print("\nThis means that the sessions with/without purchases are highly imbalanced.")
print("Number of sessions with purchases", len(np.unique(buys_df.session_id)))
print("Number of sessions without purchases", len(np.unique(clicks_df.session_id)) - len(np.unique(buys_df.session_id)))
print("Difference:", len(np.unique(clicks_df.session_id)) - 2 * len(np.unique(buys_df.session_id)))

The training dataset has 33003944 clicks from 9249729 sessions
There are  1150753 purchases from 509696 sessions
 involving 19949 unique items out of 52739 items in the whole training set.

This means that the sessions with/without purchases are highly imbalanced.
Number of sessions with purchases 509696
Number of sessions without purchases 8740033
Difference: 8230337

# EDA

In [29]:
# View EDA notebook for details

# Feature engineering

In [ ]:
# View Feature engineering notebook for details